exportPattern("^[[:alpha:]]+")
import(stats)
import(IDSL.MXP)
import(xml2)
import(RNetCDF)
import(base64enc)
import(IDSL.IPA)
import(readxl)
import(parallel)
import(doParallel)
import(foreach)
import(GA)
import(ggplot2)
import(grid)
import(gridExtra)
importFrom("grDevices", "colorRampPalette", "png", "rainbow")
importFrom("graphics", "boxplot", "lines", "par", "title")
importFrom("utils", "data", "setTxtProgressBar", "txtProgressBar", "write.csv", "read.csv")
