exportPattern("^[[:alpha:]]+")
import(IDSL.IPA)
import(readxl)
import(parallel)
import(doParallel)
import(foreach)
importFrom("stats", "median")
importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "layout", "legend", "lines", "mtext", "plot.new", "text")
importFrom("utils", "read.csv", "setTxtProgressBar", "txtProgressBar", "write.csv", "write.table", "download.file")
